.cadastro {
    min-height: 100vh;

    display: flex;
}

.cadastro-left, .cadastro-right {
    width: 50%;
}
.cadastro-right {
    background-image: url('../../assets/cadastrar-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.cadastro-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-left-container {
    display: flex;
    flex-direction: column;

    width: 480px;
}

.cadastro-titulo {
    margin-bottom: 32px;
    align-self: center;
}

.link-login {
    align-self: center;
}